html {
    box-sizing: border-box;
}
*,
*::before
*::after{
    box-sizing:inherit;
}
:root {
    --primary-text-color:#FFFFFF;
    --title-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color:#2196F3;
}
body {
    font-family:'Roboto', sans-serif;
    }
.list {
    margin: 0;
    padding: 0;
    list-style:none;
}
.main-nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    border-color: #ECECEC;
    }
.logo {
    font-family:'Raleway', sans-serif;
    color: var(--accent-color);
    text-decoration:none;
    }
.logo-primary {
    color: var(--accent-color);
}
.logo-black {
    color: #000000;
    }
.logo-white {
    color: var(--primary-text-color);
    }
.menu {
    display:flex;
    margin-left: 93px;
   }
.menu .item:not(:last-child) {
    margin-right: 50px;
}
.menu a {
    display:block;
    padding-top:32px;
    padding-bottom: 32px;
    font-weight:500;
    font-size:14px;
    line-height:1.14;
    text-decoration:none;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.menu a:hover,
.menu a:focus {
    color: var(--accent-color);
}
.menu a.current {
    color: var(--accent-color);
}
.info-contacts {
    display: flex;
    margin-left: auto;
    }
.info-contacts .item:not(:last-child) {
    margin-right: 50px;
}
.info-contacts a {
    display:block;
    padding-top:32px;
    padding-bottom: 32px;
    font-weight:500;
    font-size:14px;
    line-height:1.14;
    text-decoration:none;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color); 
}
.section-general {
    height: 600px;
    text-align: center;
    background-color:#2F303A;
    display: flex;
    justify-content:center;
    align-items: center;
}
.hero {    
    max-width: 696px;
    padding-left: 50px;
    padding-right: 50px;
}
.title-white {
    display: block;
    margin-top: 0;
    margin-bottom: 30;
    font-weight: 900;
    font-size:44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.button {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 200px;
    font-weight:700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    background-color: var(--accent-color);
    }
.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
.advantages  {
    display: flex;
}
.advantages .item {
    min-width: 270px;
}
.advantages .item:not(:last-child) {
    margin-right: 30px;
}
.section-work {
    padding-top: 0;
    padding-bottom: 94px;
}
.example {
    display: flex;
}
.example .item:not(:last-child) {
    margin-right: 30px;
}
.contacts a {
    font-style:normal;
    text-decoration:none;
    color: rgba(255,255,255,0.6);
}
.contacts li {
    margin-bottom: 9px;
}
.info-contacts a:hover {
    color: var(--accent-color);
}
.contacts a:hover {
    color: var(--accent-color);
}
.text-grey {
    margin-top: 10;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.title-advantages {
    margin-top: 0;
    margin-bottom: 0;
    font-weight:700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;   
}
.footer-black {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:#2F303A;
}
.address {
    margin-top: 20px;
    margin-bottom: 9px;
    font-style:normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: var(--primary-text-color);
}
.section-team {
    background-color:#F5F4FA;
}
.team {
    display:flex;
}
.team .text-team:not(:last-child) {
    margin-right: 30px;
}
.text-team {
    padding-bottom: 30px;
    background-color: var(--primary-text-color);
}
.title {    
    margin-top: 0;
    margin-bottom: 50;
    font-weight:700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
}
.title-team {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight:500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
}
.profession {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
} 
/*Портфолио*/
.button-primary {
    padding: 6px 22px;
    border-radius: 4px;
    font-weight:500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    background-color:#F5F4FA;
}
.button-primary:hover {
    color: var(--primary-text-color);
    background-color: var(--accent-color);
}
.title-service {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight:700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
    }
.title-primary {
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight:700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);   
}
.text-service {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight:400;
    font-size: 18px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);   
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
    }
.service {
    display:flex;
    margin-bottom: 50px;
    justify-content: center;
   }
.service .item {
    margin-right: 8px;
}
.service .item:last-child {
    margin-right: 0;
}
.service-examples {
    display:flex;
    flex-wrap: wrap;
}
.service-examples .item {
    margin-right: 30px;
    margin-bottom: 30px;
}
.service-examples .item:nth-child(3n) {
    margin-right: 0;
}
.service-examples .item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}